.add-form {
  box-sizing: border-box;
  background-color: $color-primary;
  color: $color-secondary;
  width: 50rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  margin-top: $section-top-margin;
  box-shadow: 0 6px 8px 1px rgba(0, 0, 0, .6);
  padding: 1rem 2rem;

  &__input {
    margin-bottom: 10px;
  }

  &__editor {
    &-edit {
      display: flex;
      height: 10rem;
      border: 1px solid $color-tertiary;
      border-radius: 9px;
      margin: 1rem 0;
    }

    &-toolbar {
      display: flex; 
      justify-content: space-between; 
    }
  }
}