.jumbotron {
  position: relative;
  background-color: $color-primary;
  margin-top: 10rem;
  width: 20rem;
  box-shadow: 0 6px 8px 1px rgba(0, 0, 0, .6);
  border-radius: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  text-align: center;
  font-size: 1.3rem;

  & .counter__btn {
    margin-top: 1rem;
    margin-right: 1rem;
  }
}
