.login {
  display: flex;
  justify-content: center;
  width: 25rem;
  margin-top: 20rem;
  background-color: $color-primary;
  box-shadow: 0 6px 8px 1px rgba(0, 0, 0, .6);
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
    &__header {
      width: 25rem;
      height: fit-content;
      background-color: transparent;
      border-radius: 10rem;
    }
}