.log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
   
    & .card {
      width: 25rem;
      background-color: $color-primary;
      box-shadow: 0 6px 8px 1px rgba(0, 0, 0, .6);
      border-radius: 1rem;
      overflow: hidden;
    }

    &__header {
      width: 25rem;
      height: fit-content;
      background-color: transparent;
      border-radius: 10rem;
    }

    &__input {
      margin-bottom: 10px;
    }
}