.navbar {
  display: flex;
  color: $color-secondary;
  background-color: $color-primary;
  box-shadow: 0 6px 8px 1px rgba(0, 0, 0, .6);
  position: fixed;
  z-index: 1000;
  top: 0;

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
  }

  &__item {
    padding: .5rem;
  }

  &__link {
    color: $color-secondary;
    padding: .5rem;

    &:hover, &:active, &:focus {
      color: $color-tertiary;
      border-bottom: solid 1px $color-tertiary;
      text-decoration: none;
    }
  }
}