.post {
  background-color: $color-primary;
  color: $color-secondary;
  padding: 0;
  margin-bottom: 2rem; 
  
  &__header {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    padding-bottom: .5rem;
    align-items: flex-start;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (max-width: $mobile-resolution) {
      align-items: flex-start;
      width: 90%;
      text-align: left;
      word-wrap: break-word;
    }
  }

  &__heading {
    width: 100%;
    margin: 0;
    padding-bottom: .5rem;
    font-weight: 900;
    color: $color-tertiary;
  }

  &__date {
    font-size: .9rem;
    color: $color-secondary;
    margin: 0;
  }

  &__body {
    word-wrap: break-word;
    padding: 1rem 0;
  }

  &__paragraph {
    font-size: $desc-font-size;
    text-align: left;
    margin-bottom: 0;
  }

  &__remove-btn {
    cursor: pointer;
    
    &-image {
      position: absolute;
      width: 18px;
      height: 18px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  &__remove-btn, &__remove-btn:link, &__remove-btn:visited {
    position: relative;
    border-radius: 50%;
    border: solid black 1.4px;
    margin-left: auto;
    width: 26px;
    height: 26px;
    transition: all .2s;
  }
  
  &__remove-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 2px 1px rgba(0, 0, 0, .3);
  }
  
  &__remove-btn:active, &__remove-btn:focus {
    transform: translateY(-1.5px);
    box-shadow: 0 2px 1px 1px rgba(0, 0, 0, .3);
  }
}