.post {

  background-color: $color-primary;
  color: $color-secondary;
  margin-bottom: 2rem;
  border-bottom: solid 1px silver;
 
  
  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px $color-secondary;
    padding: 1rem 2rem;
  }

  &__body {
    word-wrap: break-word;
    padding: 1rem 2rem;
  }

  &__paragraph {
    font-size: 1.2rem;
    text-align: left;
  }
}