.search-bar {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  margin-right: 1rem;
  margin-left: auto;
  width: auto;

  &__icon {
    cursor: pointer;
    width: 24px;
    margin-right: 1rem;
    position: relative;
    z-index: 15;
  }

  &__input {
    position: relative;
    box-sizing: border-box;
    z-index: 10;
    margin-right: 1rem;
  }
}