.sign-out {
  margin-top: 10rem;
  text-align: center;
  cursor: pointer;
  width: fit-content;
  margin-left: auto; 
  margin-right: auto;
  color: $color-tertiary;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid $color-tertiary;
  }
}