@mixin dividing_strip {
  content: '';
  position: absolute;
  bottom: 0;
  width: 45rem;
  height: 1px;
  border-bottom: solid 1px silver;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (max-width: $mobile-resolution) {
    width: 20rem;
    left: 0;
    transform: translateX(0);
  }
}