// COLORS TEXT
$color-primary: #FFF;//#CAE4EF;
$color-secondary: #05060B;
$color-tertiary: #2f3266;

$color-border: rgba(117, 117, 117, 0.8);

// RESOLUTION
$tablet-resolution: 1024px;
$mobile-resolution: 480px;

// HEADER
$header-gap: 1rem;

// PRIMARY SECTIONS
$section-top-margin: 10rem;
$section-top-margin-mob: 6rem;

$section-margin: 4rem;
$section-margin-mob: 2rem;

// FONT
$desc-font-size: 1.2rem;
$mob-font-size: 1rem;

// ELEMENT SIZE

$desc-max-width: 60rem;